<form (ngSumbit)="getNearestTarget()">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input name="address" [(ngModel)]="addressInput" matInput>
  </mat-form-field>
  <button (click)="getNearestTarget()" mat-raised-button>Send</button>
</form>

<google-map height="80%" width="100%" [center]="center" [zoom]="zoom">
  @for (marker of markers; track marker) {
  <map-marker #markerSpot="mapMarker" [position]="marker.position" [options]="{draggable: false}"
    (mapClick)="openInfoWindow(markerSpot, marker)" />
  }
  <map-info-window>
    {{closestTargetAddress}}<br>{{distanceToTarget}}<br>{{durationToTarget}}
  </map-info-window>
  <map-polyline [path]="routeTo" />
</google-map>