<app-map-sidebar (routeToAddress)="getNearestTargetFromHistory($event)"></app-map-sidebar>

<div style="padding:5px;">
  <p-inputGroup>
    <button type="button" pButton (click)="openSidebar()" icon="pi pi-history"></button>
    <button type="button" pButton (click)="clearAll()" icon="pi pi-times"></button>
    <input autocomplete="off" name="address" [(ngModel)]="addressInput" type="text" (keyup.enter)="getNearestTarget()" pInputText placeholder="Address" />
    <button type="button" pButton (click)="getNearestTarget()" label="Search"></button>
  </p-inputGroup>
</div>

<google-map height="55%" width="100%" [center]="center" [zoom]="zoom">
  @for (marker of markers; track marker) {
  <map-marker #markerSpot="mapMarker" [position]="marker.position" [options]="{draggable: false}"
    (mapClick)="openInfoWindow(markerSpot, marker)" />
  }
  <map-info-window>
    {{selectedMarker.title}}<br>{{selectedMarker.label}}
  </map-info-window>
  <map-polyline [path]="routeTo" />
</google-map>

<app-results-card></app-results-card>

<div style="text-align: center;padding: 10px;">
  <a href="http://bryceohmer.com">bryceohmer.com</a>
</div>